/* CSS Code */
*,*:before,*:after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #e1e1e1;
}

.box{
	text-align: center;
	margin: 50px auto;
	width: 200px;
	padding-top: 5px;
	background-color: #fff;
	color: #7d7d7d;
	box-shadow: 0 5px 10px #000;
	line-height: 20px;
}
 .box h1{
	width: 220px;
	line-height: 36px;
	color: #eee;
	font-size: 1.25em;
	margin-bottom: 10px;
	text-align: center;
	background-color: #363636;
	box-shadow: 0 1px 3px #363636;
	position: relative;
	right: 10px; 
} 
.box h1:before, .box h1:after{
	content: ''; 
	height: 0;
	width: 0;
	border-width: 105px;
	border-style: solid;
	border-color: transparent;
	position: absolute;
	top: 100%;
	z-index: -1;
}
.box h1:before{
	border-top-color: #252525;
	border-left-color: #252525;
	right: 0;
}
.box h1:after{
	border-top-color: #252525;
	border-right-color: #252525;
	left: 0;
}
.box img{
	width: 100%;
	display: block;
	margin: 5px auto;
}
.box p{
	margin: 5px 10px;
	padding: 10px 0px ;
}